@media only screen and (max-width:1440px) {
    .education {
        height: 100%;
    }

}

@media only screen and (max-width: 1200px) {

    .education {
        height: 131%;
}


.cover {
    margin-left: 50%;
}
}
@media only screen and (max-width: 1023px) {

    .education {
        height: 151%;
}
}

@media only screen and (max-width: 768px) {

    .about-text{
        margin: 30% auto;
        float: none;
        width: 70%;
        
    }
    .education {
        height: 140%;
}
.nav-icon {
    display: block;
}
.navbar-nav {
 display: none;

}
.progress {
    display: none;
}


}

@media only screen and (max-width: 575px) {
   

  
    .sidebar h1 {
        font-size: 160%;
    }


    .about-text{
        margin: 20% auto;
        float: none;
        width: 70%;
        
    }
    .main-title{
        font-size: 150%;
        margin-bottom: -1%;
        


    }
    .my-skills{
        height: 130%;
    }
    .skills{
        margin-left: 2.1%;
    }
    .education {
        height: 150%;
    }

    .progress {
        display: none;
    }
    .skills_h5 {
       text-align: center;
    }

    .projects {
        height: 240%;
    }
    .main-timeline {
        margin: auto 0;
    }
}