* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    
}

img {
    max-width: 100%;
}
.main {
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(img/back-1.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.main-title{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3% ;
    margin-bottom: 3%;

    color: rgb(255, 255, 255)

}
a:hover{
    text-decoration: underline;
}
/* cover */
.main-cover {
    height: 100%;
    width: 80%;

 
}
.cover {
    text-align: center;
    padding-top: 30%;
    margin-left: 50%
    
   
  
}
.nav-icon {
    float: left;
    font-size: 200%;
    color: rgb(41, 29, 29);
    display: none;
}

.sidebar {
    color: rgb(19, 17, 17);
    background: rgba(255, 255, 255, 0.9) ;
    text-align: center;
    height: 100%;
    width: 10%;
    padding-top: 100px;
    position: fixed;
}

.navbar-nav {
    padding-top: 100px;
    padding-bottom: 380px;
    

}
.nav-link {
    color: #3f3b3b;
}
.nav-link:hover,
.nav-link:active {
    color: rgb(34, 23, 23);
    font-weight: bold;
}


.img{
    height: 16rem;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
}

.cover_name {
    font-weight: 800;
    color: rgb(94, 79, 79);
}

/*-------About Me--------*/
.about-me {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    background-size: cover;
    height: 100%;
}

.about {
    text-align: center;
    width: 80%;
    float: right;
}
.about-text {
    font-weight: 400;
    font-size: 20px;
     
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 60px;
    
   


}

.me-div {
    margin-right: 30px;
}

.me {
    width: 500px;
    height:500px;
    border-radius: 8px;
   
    
}

/*--------Education-------*/

.education {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-size: cover;
    height: 100%;
    
   
}

.education-col {
    width: 80%;
    text-align: center;
    float: right;
}
.education-1 {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    background-size: cover;
    height: 130%;
}


/*--------SKILLS--------*/

.my-skills{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    background-size: cover;
    height: 100%;
}

.skills-col {
    width: 80%;
    text-align: center;
    float: right;
    padding-left: 40px;
}

.skills {
    background: rgb(255, 255, 255) ;
    color: rgb(32, 30, 30);
    padding: 1.875rem;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 80%;
}
.skills1 {
    background: rgb(255, 255, 255) ;
    color: rgb(32, 30, 30);
    padding: 1.875rem;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 5%;
    float: right;
    width: 80%;
}
.skills_h5 {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: left;
    display: table-cell;


}
.skills_content{
    margin-bottom: 3%;
}
.progress {
    background: #acabab;
    width: 80%;
    height: 50%;

}

/*---------Projects----------*/

.projects {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    background-size: cover;
    height: 135%;

}

.projects-col {
    width: 80%;
    text-align: center;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
}
.project_cards{
    background:  rgb(255, 255, 255) ;
    text-align: left;
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    padding: 2% 5% 2% 5%;
    display: block;
    min-height: 180px;
    color: black
}



.social-links {
    list-style: none;
    float: left;
    margin-left: 25%
}

.social-links li {
    display: inline-block;
    margin-left: 15px;
   
}
.fa {
    padding: 5px 4px;
    font-size: 20px;
    width: 27px;
    height: 30px;
    text-decoration: none;
    margin: 2px 2px;
  }

.fa-google {
    background-color: #dd4b39;
    color: white
}


.fa-linkedin {
    background-color: #007bb5;
    color: white;
}

.fa-phone {
    background-color: rgb(59, 56, 56);
    color: white
}
.links {
    margin-top: 40%;
}
/*-----TIMELINE------*/

.main-timeline{
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    margin-left: 3%;
    margin-right: 3%;
}
.main-timeline:before{
    content: "";
    width: 1px;
    height: 100%;
    background: #cfcdcd;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 50%;
    clear: both;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: -54px;
}
.main-timeline .timeline:last-child:nth-child(even):before{
    right: auto;
    left: -11px;
}
.main-timeline .timeline-icon{
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}
.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}
.main-timeline .timeline:hover .timeline-icon:before{ background: #39b3ff; }
.main-timeline .timeline-content{
    width: 85%;
    padding: 18px 30px;
    background: #fff;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline:hover .timeline-content{
    border: 1px solid #cfcdcd;
}
.main-timeline .timeline-content:before{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}
.main-timeline .timeline:hover .timeline-content:before{
    background: #39b3ff;
    border-color: #39b3ff;
}
.main-timeline .timeline-content:after{
    content: "";
    width: 11%;
    height: 1px;
    background: #cfcdcd;
    position: absolute;
    top: 28px;
    right: -14%;
}
.main-timeline .date{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #39b3ff;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline:hover .date{ color: #444; }
.main-timeline .title{
    font-size: 18px;
    color: #444;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline:hover .title{ color: #39b3ff; }
.main-timeline .description{
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-top: 8px;
}
.main-timeline .timeline:nth-child(2n),
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    text-align: left;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    right: 0;
    left: -12px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{ left: -7.3px; }
.main-timeline .timeline:nth-child(2n) .timeline-content:after{ left: -14%; }
@media only screen and (max-width: 767px){
    .main-timeline{ padding-left: 20px; }
    .main-timeline:before{ left: 20px; }
    .main-timeline .timeline{ width: 100%; }
    .main-timeline .timeline,
    .main-timeline .timeline-content{
        float: right;
        text-align: left;
    }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:nth-child(odd):before{
        right: auto;
        left: -11px;
    }
    .main-timeline .timeline-icon{
        right: 0;
        left: -12px;
    }
    .main-timeline .timeline-content:before{ left: -7.3px; }
    .main-timeline .timeline-content:after{ left: -14%; }
}



  .flip-box {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    background-color: transparent;

    height: 100%;
    
    -o-perspective: 1000px; 
    -moz-perspective: 1000px; 
    -ms-perspective: 1000px; 
    -webkit-perspective: 1000px; 
    perspective: 1000px; 
    position: fixed;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -o-transition: -o-transform .8s;
    -moz-transition: -moz-transform .8s;
    -ms-transition: -ms-transform .8s;
    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url(img/front-1.jpg);
    background-size: cover;
  }
  
  .flip-box:hover .flip-box-inner {
    
    -o-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
   
    color: black;
    display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
  
  }
  
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    -o-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  .main-front {
      width: 80%;
      height: 300px;  
      color: rgb(250, 250, 250);
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .temporary {
      color: black;
      font-weight: bold;
      font-size: 12px;
      height: 5px;
      margin-left: 5px;
  }